<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/cooperation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a5ace50b2e.js" crossorigin="anonymous"></script>
    <title>낭만역사 사가정</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/gnb_logo02.png" alt="">
        <img src="/img/gnb_logo01.png" onclick="location.href='/'" alt="">
        <i class="fas fa-bars nav_toggle_btn"></i>
    </div>
    <ul class="nav">
        <div>
            <li class="nav_li"><a href="/cate01/video">작품</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate02/intro">소개</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate03/workshop">아카이브</a></li>
        </div>
    </ul>
    <ul class="sub_nav">
        <li>
            <ul>
                <li class="mobile nav_category">작품</li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/video">비디오 아트</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/install">설치 미술</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/3d">3D</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">소개</li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/intro">프로젝트 개요</a></li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/cooperation">프로젝트 협력</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">아카이브</li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/workshop">낭만을 즐기는 방법 워크숍</a></li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/history">활동기록</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- header -->

<main>
    <section class="top">
        <h1>프로젝트 협력</h1>
        <h2>COOPERATION</h2>
    </section>
    <!-- top -->

    <section class="blank" id="blank1">
        <div class="blank_top"></div>
        <div class="border" id="border1"></div>
        <img id="circle1" src="/img/circle.png" alt="">

    </section>
    <!-- blank1 - 내려오는 선 첫번째 -->

    <section class="center">
        <img src="/img/menu5/sec01/sec01_logo01.png" alt="">
        <h1>낭만역사 사가정 프로젝트 협력기관 소개</h1>
        <div class="img_box">
            <img src="/img/menu5/sec01/sec01_logo04.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo02.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo03.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo05.png" alt="">
        </div>
    </section>
    <!-- center -->

    <section class="blank" id="blank2">
        <div class="blank_top"></div>
        <div class="border" id="border2"></div>
        <img id="circle2" src="/img/circle.png" alt="">
    </section>
    <!-- blank2 - 내려오는 선 두번째 -->

    <section class="participant">
        <div class="participant_title">
            <span></span>
            <h1>낭만역사 사가정 프로젝트 참여 구민</h1>
            <span></span>
        </div>
        <div class="participant_box pc">
            <h1>강현자 &ensp;고은정 &ensp;고은혜 &ensp;권다정 &ensp;권옥분 &ensp;권유미 &ensp;김경자 &ensp;김경태 &ensp;김광섭 &ensp;김무늬 &ensp;김미란 &ensp;김미배 &ensp;김민경 &ensp;김상우 &ensp;김상윤 &ensp;김순희<br>
                김아리 &ensp;김영숙 &ensp;김예영 &ensp;김윤지 &ensp;김은지 &ensp;김정숙 &ensp;김정희 &ensp;김종술 &ensp;김철진 &ensp;김태웅 &ensp;김하린 &ensp;김화 &ensp;문명보 &ensp;박근서 &ensp;박기훈 &ensp;박서현<br>
                박소영 &ensp;박수영 &ensp;박영순 &ensp;박윤자 &ensp;박은희 &ensp;박창수 &ensp;박현민 &ensp;박희선 &ensp;방정미 &ensp;변주혁 &ensp;서윤권 &ensp;선영상 &ensp;소태욱 &ensp;신미순 &ensp;신상현 &ensp;신영희<br>
                신종숙 &ensp;신현숙 &ensp;심재안 &ensp;안은진 &ensp;양서윤 &ensp;오경선 &ensp;오대성 &ensp;용동중 &ensp;유애린 &ensp;유인선 &ensp;유창룡 &ensp;유효숙 &ensp;윤빛나라 &ensp;윤희라 &ensp;이기복 이나래<br>
                이다정 &ensp;이미애 &ensp;이상열 &ensp;이상임 &ensp;이선향 &ensp;이수정 &ensp;이순례 &ensp;이재섭 &ensp;이재영 &ensp;인치우 &ensp;임옥희 &ensp;장영순 &ensp;장용기 &ensp;전빈관 &ensp;전신미 &ensp;정석순<br>
                정선옥 &ensp;정윤자 &ensp;정지명 &ensp;정학재 &ensp;조영미 &ensp;차점순 &ensp;최경정 &ensp;최광희 &ensp;최선임 &ensp;최정연 &ensp;최지민 &ensp;최효균 &ensp;한정희 &ensp;함소연 &ensp;현명녀 &ensp;홍성윤<br>
                황신영 &ensp;황우진</h1>
        </div>
        <div class="participant_box mobile">
            <h1>강현자 고은정 고은혜 권다정 권옥분 권유미 김경자 김경태 김광섭<br>
                김무늬 김미란 김미배 김민경 김상우 김상윤 김순희 김아리 김영숙<br>
                김예영 김윤지 김은지 김정숙 김정희 김종술 김철진 김태웅 김하린<br>
                김화 문명보 박근서 박기훈 박서현 박소영 박수영 박영순 박윤자<br>
                박은희 박창수 박현민 박희선 방정미 변주혁 서윤권 선영상 소태욱<br>
                신미순 신상현 신영희 신종숙 신현숙 심재안 안은진 양서윤 오경선<br>
                오대성 용동중 유애린 유인선 유창룡 유효숙 윤빛나라 윤희라 이기복<br>
                이나래 이다정 이미애 이상열 이상임 이선향 이수정 이순례 이재섭<br>
                이재영 인치우 임옥희 장영순 장용기 전빈관 전신미 정석순 정선옥<br>
                정윤자 정지명 정학재 조영미 차점순 최경정 최광희 최선임 최정연<br>
                최지민 최효균 한정희 함소연 현명녀 홍성윤 황신영 황우진</h1>
        </div>
    </section>
    <!-- participant - 참여주민 -->

</main>
<!-- main -->

<footer>
    <section class="footer_top">
        <div class="footer_top_left">
            <img src="/img/footer_logo01.png" alt="">
            <h1>BUSINESS EMAIL</h1>
            <h2>achecollabo@naver.com</h2>
        </div>
        <div class="footer_top_right">
            <div class="footer_top_right_box">
                <h1>DIRECTOR</h1>
                <h2>Hwang Hye-jun<br>Shin Hyunji</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>TEL</h1>
                <h2>010-3349-3580<br>010-3677-3436</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>E-MAIL</h1>
                <h2>heyjunhwang@gmail.com<br>chezipmang@gmail.com</h2>
            </div>
        </div>
    </section>
    <section class="footer_bottom">
        <div class="footer_bottom_left">
            <h3>100, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea</h3>
            <h4>COPYRIGHT © ACHECOLLABO.INC.ALL RIGHTS RESERVED</h4>
        </div>
        <div class="footer_bottom_right">
            <img src="/img/footer_logo02.png" alt="">
        </div>
    </section>
</footer>
<!-- footer -->

<script src="/js/top_nav.js"></script>
<script src="/js/cooperation.js"></script>
</body>
</html>