<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/cooperation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a5ace50b2e.js" crossorigin="anonymous"></script>
    <title>낭만역사 사가정</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/gnb_logo02.png" alt="">
        <img src="/img/gnb_logo01.png" onclick="location.href='/'" alt="">
        <i class="fas fa-bars nav_toggle_btn"></i>
    </div>
    <ul class="nav">
        <div>
            <li class="nav_li"><a href="/cate01/video">작품</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate02/intro">소개</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate03/workshop">아카이브</a></li>
        </div>
    </ul>
    <ul class="sub_nav">
        <li>
            <ul>
                <li class="mobile nav_category">작품</li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/video">비디오 아트</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/install">설치 미술</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/3d">3D</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">소개</li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/intro">프로젝트 개요</a></li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/cooperation">프로젝트 협력</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">아카이브</li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/workshop">낭만을 즐기는 방법 워크숍</a></li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/history">활동기록</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- header -->

<main>
    <section class="top">
        <h1>프로젝트 협력</h1>
        <h2>COOPERATION</h2>
    </section>
    <!-- top -->

    <section class="blank" id="blank1">
        <div class="blank_top"></div>
        <div class="border" id="border1"></div>
        <img id="circle1" src="/img/circle.png" alt="">

    </section>
    <!-- blank1 - 내려오는 선 첫번째 -->

    <section class="center">
        <img src="/img/menu5/sec01/sec01_logo01.png" alt="">
        <h1>낭만역사 사가정 프로젝트 협력기관 소개</h1>
        <div class="img_box">
            <img src="/img/menu5/sec01/sec01_logo04.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo02.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo03.png" alt="">
            <img src="/img/menu5/sec01/sec01_logo05.png" alt="">
        </div>
    </section>
    <!-- center -->

    <section class="blank" id="blank2">
        <div class="blank_top"></div>
        <div class="border" id="border2"></div>
        <img id="circle2" src="/img/circle.png" alt="">
    </section>
    <!-- blank2 - 내려오는 선 두번째 -->

    <section class="participant">
        <div class="participant_title">
            <span></span>
            <h1>낭만역사 사가정 프로젝트 참여 구민</h1>
            <span></span>
        </div>
        <div class="participant_box pc">
            <h1>오경선,&ensp;&ensp; 이재섭,&ensp;&ensp; 김미란,&ensp;&ensp; 전신미,&ensp;&ensp; 조영미,&ensp;&ensp; 박소영,&ensp;&ensp; 최정연,&ensp;&ensp; 김종술,&ensp;&ensp; 장용기,&ensp;&ensp; 최효균,&ensp;&ensp;
                박창수,&ensp;&ensp; 박수영,<br> 이선향,&ensp;&ensp; 선영상,&ensp;&ensp; 이재영,&ensp;&ensp; 이다정,&ensp;&ensp; 박현민,&ensp;&ensp; 김예영,&ensp;&ensp; 정지명,&ensp;&ensp; 최지민,&ensp;&ensp;
                김아리,&ensp;&ensp; 윤빛나라,&ensp;&ensp; 박은희,&ensp;&ensp; 권유미,<br> 김윤지,&ensp;&ensp; 소태욱,&ensp;&ensp; 정학재,&ensp;&ensp; 유창룡,&ensp;&ensp; 용동중,&ensp;&ensp; 김하린,&ensp;&ensp;
                김경태,&ensp;&ensp; 김무늬,&ensp;&ensp; 윤희라,&ensp;&ensp; 황신영,&ensp;&ensp; 홍성윤,&ensp;&ensp; 이나래,<br> 유애린,&ensp;&ensp; 유인선,&ensp;&ensp; 박서현,&ensp;&ensp; 함소연,&ensp;&ensp;
                이상임,&ensp;&ensp; 신영희,&ensp;&ensp; 방정미,&ensp;&ensp; 이수정,&ensp;&ensp; 정석순,&ensp;&ensp; 정선옥,&ensp;&ensp; 김상윤,&ensp;&ensp; 신현숙,<br> 최광희,&ensp;&ensp; 박윤자,&ensp;&ensp;
                장영순,&ensp;&ensp; 차점순,&ensp;&ensp; 안은진,&ensp;&ensp; 이미애,&ensp;&ensp; 김민경,&ensp;&ensp; 신미순,&ensp;&ensp; 권옥분,&ensp;&ensp; 강현자,&ensp;&ensp; 김순희,&ensp;&ensp; 김영숙,<br>
                김정숙,&ensp;&ensp; 김정희,&ensp;&ensp; 문명보,&ensp;&ensp; 박영순,&ensp;&ensp; 박희선,&ensp;&ensp; 서윤권,&ensp;&ensp; 신종숙,&ensp;&ensp; 심재안,&ensp;&ensp; 양서윤,&ensp;&ensp; 유효숙,&ensp;&ensp;
                이순례,&ensp;&ensp; 임옥희,<br> 정윤자,&ensp;&ensp; 김경자,&ensp;&ensp; 고은정,&ensp;&ensp; 고은혜,&ensp;&ensp; 최경정,&ensp;&ensp; 변주혁,&ensp;&ensp; 김상우,&ensp;&ensp; 박근서,&ensp;&ensp;
                김은지,&ensp;&ensp; 김화,&ensp;&ensp; 이기복,&ensp;&ensp; 권다정,<br> 신상현,&ensp;&ensp; 전빈관,&ensp;&ensp; 인치우,&ensp;&ensp; 이상열,&ensp;&ensp; 황우진,&ensp;&ensp; 오대성,&ensp;&ensp;
                김철진,&ensp;&ensp; 한정희,&ensp;&ensp; 박기훈,&ensp;&ensp; 현명녀,&ensp;&ensp; 김태웅,&ensp;&ensp; 김광섭,&ensp;&ensp; 최선임</h1>
        </div>
        <div class="participant_box mobile">
            <h1>오경선,&ensp;&ensp; 이재섭,&ensp;&ensp; 김미란,&ensp;&ensp; 전신미,&ensp;&ensp; 조영미,&ensp;&ensp; 박소영,<br> 최정연,&ensp;&ensp; 김종술,&ensp;&ensp; 장용기,&ensp;&ensp; 최효균,&ensp;&ensp;
                박창수,&ensp;&ensp; 박수영,<br> 이선향,&ensp;&ensp; 선영상,&ensp;&ensp; 이재영,&ensp;&ensp; 이다정,&ensp;&ensp; 박현민,&ensp;&ensp; 김예영,<br> 정지명,&ensp;&ensp; 최지민,&ensp;&ensp;
                김아리,&ensp;&ensp; 윤빛나라,&ensp;&ensp; 박은희,&ensp;&ensp; 권유미,<br> 김윤지,&ensp;&ensp; 소태욱,&ensp;&ensp; 정학재,&ensp;&ensp; 유창룡,&ensp;&ensp; 용동중,&ensp;&ensp; 김하린,<br>
                김경태,&ensp;&ensp; 김무늬,&ensp;&ensp; 윤희라,&ensp;&ensp; 황신영,&ensp;&ensp; 홍성윤,&ensp;&ensp; 이나래,<br> 유애린,&ensp;&ensp; 유인선,&ensp;&ensp; 박서현,&ensp;&ensp; 함소연,&ensp;&ensp;
                이상임,&ensp;&ensp; 신영희,<br> 방정미,&ensp;&ensp; 이수정,&ensp;&ensp; 정석순,&ensp;&ensp; 정선옥,&ensp;&ensp; 김상윤,&ensp;&ensp; 신현숙,<br> 최광희,&ensp;&ensp; 박윤자,&ensp;&ensp;
                장영순,&ensp;&ensp; 차점순,&ensp;&ensp; 안은진,&ensp;&ensp; 이미애,<br> 김민경,&ensp;&ensp; 신미순,&ensp;&ensp; 권옥분,&ensp;&ensp; 강현자,&ensp;&ensp; 김순희,&ensp;&ensp; 김영숙,<br>
                김정숙,&ensp;&ensp; 김정희,&ensp;&ensp; 문명보,&ensp;&ensp; 박영순,&ensp;&ensp; 박희선,&ensp;&ensp; 서윤권,<br> 신종숙,&ensp;&ensp; 심재안,&ensp;&ensp; 양서윤,&ensp;&ensp; 유효숙,&ensp;&ensp;
                이순례,&ensp;&ensp; 임옥희,<br> 정윤자,&ensp;&ensp; 김경자,&ensp;&ensp; 고은정,&ensp;&ensp; 고은혜,&ensp;&ensp; 최경정,&ensp;&ensp; 변주혁,<br> 김상우,&ensp;&ensp; 박근서,&ensp;&ensp;
                김은지,&ensp;&ensp; 김화,&ensp;&ensp; 이기복,&ensp;&ensp; 권다정,<br> 신상현,&ensp;&ensp; 전빈관,&ensp;&ensp; 인치우,&ensp;&ensp; 이상열,&ensp;&ensp; 황우진,&ensp;&ensp; 오대성,<br>
                김철진,&ensp;&ensp; 한정희,&ensp;&ensp; 박기훈,&ensp;&ensp; 현명녀,<br> 김태웅,&ensp;&ensp; 김광섭,&ensp;&ensp; 최선임</h1>
        </div>
    </section>
    <!-- participant - 참여주민 -->

</main>
<!-- main -->

<footer>
    <section class="footer_top">
        <div class="footer_top_left">
            <img src="/img/footer_logo01.png" alt="">
            <h1>BUSINESS EMAIL</h1>
            <h2>achecollabo@naver.com</h2>
        </div>
        <div class="footer_top_right">
            <div class="footer_top_right_box">
                <h1>DIRECTOR</h1>
                <h2>Hwang Hye-jun<br>Shin Hyunji</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>TEL</h1>
                <h2>010-3349-3580<br>010-3677-3436</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>E-MAIL</h1>
                <h2>heyjunhwang@gmail.com<br>chezipmang@gmail.com</h2>
            </div>
        </div>
    </section>
    <section class="footer_bottom">
        <div class="footer_bottom_left">
            <h3>100, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea</h3>
            <h4>COPYRIGHT © ACHECOLLABO.INC.ALL RIGHTS RESERVED</h4>
        </div>
        <div class="footer_bottom_right">
            <img src="/img/footer_logo02.png" alt="">
        </div>
    </section>
</footer>
<!-- footer -->

<script src="/js/top_nav.js"></script>
<script src="/js/cooperation.js"></script>
</body>
</html>