<html>
<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>사가정 3d 감상실</title>
    <style>
        #3d {
            width: 100vw;
            height: 100vw;
        }
        .move {
            position: fixed;
            width: 120px;
            height: 60px;
            background-color: rgba(0,0,0,0);
            border: 1px solid black;
            border-radius: 20px;
            font-size: 20px;
            bottom: 50px;
            cursor: pointer;
        }
        .move:hover {
            background-color: black;
            color: white;
            font-weight: 600;
        }
        #go {
            left: 40%;
        }
        #back {
            left: 55%;
        }
        #out {
            position: fixed;
            top: 50px;
            right: 100px;
            width: 150px;
            height: 60px;
            background-color: rgba(0,0,0,0);
            border: 1px solid black;
            border-radius: 20px;
            font-size: 20px;
            cursor: pointer;
        }
        #out:hover {
            background-color: black;
            color: white;
            font-weight: 600;
        }
    </style>
</head>
<body>
<div class="img_box">
    <iframe id="3d" width="100%" height="100%" src="https://momento360.com/e/u/6d596d311b01493194be93c0849e1488?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium" frameborder="0"></iframe>
</div>
<button class="move" id="go">앞으로 이동</button>
<button class="move" id="back">뒤로 이동</button>
<button onclick="location.href='/cate03/3d'" id="out">감상실 나가기</button>
<script>
    var exits = ['https://momento360.com/e/u/6d596d311b01493194be93c0849e1488?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium',
        'https://momento360.com/e/u/18c7fa197dae4087b5832780333e86e2?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium',
        'https://momento360.com/e/u/f8b9d42973a749faa0831ee85e0190df?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium'];
    var i = 0;
    $('#go').on('click', function() {
        if(i < 2) {
            i += 1;
            $('#3d').attr('src', `${exits[i]}`);
        }
    })
    $('#back').on('click', function() {
        if(i > 0) {
            i -= 1;
            $('#3d').attr('src', `${exits[i]}`);
        }
    })
</script>
</body>
</html>