<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/install.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://kit.fontawesome.com/a5ace50b2e.js" crossorigin="anonymous"></script>
    <title>낭만역사 사가정</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/gnb_logo02.png" alt="">
        <img src="/img/gnb_logo01.png" onclick="location.href='/'" alt="">
        <i class="fas fa-bars nav_toggle_btn"></i>
    </div>
    <ul class="nav">
        <div>
            <li class="nav_li"><a href="/cate01/video">작품</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate02/intro">소개</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate03/workshop">아카이브</a></li>
        </div>
    </ul>
    <ul class="sub_nav">
        <li>
            <ul>
                <li class="mobile nav_category">작품</li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/video">비디오 아트</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/install">설치 미술</a></li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/workshop">낭만을 즐기는 방법 워크숍</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">소개</li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/intro">프로젝트 개요</a></li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/cooperation">프로젝트 협력</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">아카이브</li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/history">활동기록</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate03/3d">사가정 3D 감상실</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- header -->
<main>
    <section class="top">
        <h1>설치 미술</h1>
        <h2>INSTALLATION ART</h2>
    </section>
    <!-- top -->

    <section class="install" style="margin-bottom: -100px;">
        <div class="install_top">
            <div class="blank" id="blank1">
                <div class="border border_long"></div>
                <img src="/img/circle.png" alt="">
                <div class="border border_short"></div>
            </div>
            <div class="install_title">
                <h1>낭만의 변주곡 <span class="gray">Sagajeong Rhapsodies</span></h1>
                <h2>사가정역 1번출구 & 2번 출구, 공공미술 설치, 2021</h2>
                <p>중랑구민들이 세대별 경험하는 낭만의 레이어를 시각적으로 담아내고, 세대 간 서로 다르게 느끼는 낭만의 감수성을 연결하여 규칙과 불규칙성이 공존하는 조각으로서 주변 공간과 작품이 자연스럽게 연결되도록 했다. 공공시설물인 지하철역이 기존에 보유하고 있는 공간성에 지역 주민들의 낭만과 이야기를 담아내 새로운 공간성을 만든다.
                </p>
            </div>
        </div>
    </section>

    <section class="install" id="install1">
        <div class="install_top">
            <div class="blank" id="blank1">
                <div class="border border_long"></div>
                <img src="/img/circle.png" alt="">
                <div class="border border_short"></div>
            </div>
            <div class="install_title">
                <h1><span>1</span>번 출구</h1>
            </div>
        </div>
        <section class="install_img_box">
            <img class="install_img install_img1" src="/img/menu2/sec01/img/menu2_01_1.jpg" alt="">
            <div class="s_img_box s_img_box1">
                <img class="img_nav prev prev1" src="/img/menu2/sec01/sec01_prev.png" alt="">
                <img class="s_img s_img1" src="/img/menu2/sec01/img/menu2_01_1.jpg" alt="">
                <img class="s_img s_img2" src="/img/menu2/sec01/img/menu2_01_2.jpg" alt="">
                <img class="s_img s_img3" src="/img/menu2/sec01/img/menu2_01_3.jpg" alt="">
                <img class="s_img s_img4" src="/img/menu2/sec01/img/menu2_01_4.jpg" alt="">
                <img class="s_img s_img5" src="/img/menu2/sec01/img/menu2_01_5.jpg" alt="">
                <img class="img_nav next next1" src="/img/menu2/sec01/sec01_next.png" alt="">
            </div>
        </section>
        <!-- <ul class="bxslider">
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
        </ul> -->
    </section>
    <!-- install -->

    <section class="install" id="install2">
        <div class="install_top">
            <div class="blank" id="blank2">
                <div class="border border_long"></div>
                <img src="/img/circle.png" alt="">
                <div class="border border_short"></div>
            </div>
            <div class="install_title">
                <h1><span>2</span>번 출구</h1>
            </div>
        </div>
        <section class="install_img_box">
            <img class="install_img install_img2" src="/img/menu2/sec01/img2/menu2_02_1.jpg" alt="">
            <div class="s_img_box s_img_box2">
                <img class="img_nav prev prev2" src="/img/menu2/sec01/sec01_prev.png" alt="">
                <img class="s_img s_img1" src="/img/menu2/sec01/img2/menu2_02_1.jpg" alt="">
                <img class="s_img s_img2" src="/img/menu2/sec01/img2/menu2_02_2.jpg" alt="">
                <img class="s_img s_img3" src="/img/menu2/sec01/img2/menu2_02_3.jpg" alt="">
                <img class="s_img s_img4" src="/img/menu2/sec01/img2/menu2_02_4.jpg" alt="">
                <img class="s_img s_img5" src="/img/menu2/sec01/img2/menu2_02_5.jpg" alt="">
                <img class="img_nav next next2" src="/img/menu2/sec01/sec01_next.png" alt="">
            </div>
        </section>
        <!-- <ul class="bxslider">
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
            <li class="install_img_box">
                <img src="/img/menu2/sec01/sec01_img02.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img03.jpg" alt="">
                <img src="/img/menu2/sec01/sec01_img04.jpg" alt="">
            </li>
        </ul> -->
    </section>
    <!-- install2 -->

    <section class="credit">
        <div class="blank" id="credit_blank">
            <div id="credit_border_long" class="border"></div>
            <img id="credit_blank_img" src="/img/circle_line.png" alt="">
            <div id="credit_border_short" class="border"></div>
        </div>
        <div class="credit_box">
            <h1>Credit</h1>
            <div class="credit_list">
                <p class="credit-text"><span>공동기획 및 제작 협력</span>&ensp;&ensp;아채콜라보</p>
                <p class="credit-text"><span>총괄</span>&ensp;&ensp;황혜준</p>
                <p class="credit-text"><span>그래픽 디자이너</span>&ensp;&ensp;박은정, 노송희, 이민선, 김경연</p>
                <p class="credit-text"><span>3D 디자이너</span>&ensp;&ensp;최형주, 김태환</p>
                <p class="credit-text"><span>프로젝트 자문</span>&ensp;&ensp;김기라</p>
                <p class="credit-text"><span>Photographer</span>&ensp;&ensp;손대윤</p>
                <p class="credit-text"><span>Video Director</span>&ensp;&ensp;이용명</p>
                <p class="credit-text"><span>협력 시공 업체</span>&ensp;&ensp;(주)라온세라믹아트, 무성산업, 포시즌디자인, 가나안기획, 토탈클린, 영광전기조명, 대일페인트</p>
                <p class="credit-text"><span>제작지원</span>&ensp;&ensp;서울특별시, 문화체육관광부, 한국문화예술위원회, 중랑구</p>
            </div>
        </div>
    </section>
    <!-- credit -->

    <section class="article">
        <div class="article_wrapper">
            <img src="/img/sec03_icon01.png" alt="">
            <h1>황혜준의 낭만과 행복의 랩소디</h1>
            <span>김미진(홍익대학교 미술대학원 교수)</span>
            <p id="article_shown">황혜준은 예술과 대중이 그 어느 시대보다 역할과 수용적인 측면에서 복잡해진 이 시대의 현상을 직시하며 다양한 예술의 실천적 경험을 열정적으로 도전하고 있는 작가다. 그는 사회적 이슈의 탐구를 통해 작가 개인의 서사를 객관화하고, 공동화하는 작업에 관심을 두고 있다. 경제적 무관심에서 벗어나기 힘든 소비 사회의 젊은 예술가로서 일찍이 상업 영화와 드라마, 사진, 디자인에서 협업하며 자신만의 예술관을 정립해 나가는 중이다. 작가는 예술가로서의 방향을 작가적 개인의 ‘현상 바라보기’와 그 속에 내포된 시각 문화 연구적 시선을 그만의 언어로 집요하게 찾아내며 기록해 나가고 있다.
            </p>
            <p id="article_hidden">황혜준은 예술과 대중이 그 어느 시대보다 역할과 수용적인 측면에서 복잡해진 이 시대의 현상을 직시하며 다양한 예술의 실천적 경험을 열정적으로 도전하고 있는 작가다. 그는 사회적 이슈의 탐구를 통해 작가 개인의 서사를 객관화하고, 공동화하는 작업에 관심을 두고 있다. 경제적 무관심에서 벗어나기 힘든 소비 사회의 젊은 예술가로서 일찍이 상업 영화와 드라마, 사진, 디자인에서 협업하며 자신만의 예술관을 정립해 나가는 중이다. 작가는 예술가로서의 방향을 작가적 개인의 ‘현상 바라보기’와 그 속에 내포된 시각 문화 연구적 시선을 그만의 언어로 집요하게 찾아내며 기록해 나가고 있다. <br/><br/>
            이미 그는 4년 전부터 ‘아르떼나잇’이라는 시각 예술팀을 만들어 신화에 대한 오마주, 사회현상에 대한 모방과 순간의 해프닝을 주제로 설치와 사진 작업을 하고 있다. 예술작품을 위해 협업하며 공동화하는 작업을 위해 기획자와 작가의 역할 두 가지 동시에 하는 장점을 갖고 있다. <br/><br/>
            이번 코로나19 상황 속에 예술가들을 위한 공공 미술 프로젝트인 ‘2021 문화체육관광부 서울25부작 공공 미술 프로젝트’가 실행되었고, 황혜준은 동료예술가인 비디오 아티스트 신현지와 <아x채 콜라보>를 형성하여 이 프로젝트에 당선되어 작업하게 된다. <아x채 콜라보>는 중랑구 사가정역 1, 2번 출구의 벽과 계단, 유리로 된 캐노피를 <사가정 랩소디 1>, <사가정 랩소디 2> 이란 제목과 함께 ‘당신의 낭만은 어디에 있나요?’ 라는 주제로 두 곳의 다른 전시 공간 (중랑아트센터, 갤러리 177177)에서 일련의 연속성을 띤 설치 작품들을 전시했고, 새롭게 사가정역을 리노베이션하였다. 황혜준은 작업과정에 대해 “<아x채 콜라보>라는 콜라보레이션 팀을 만들어 비주얼 디렉팅 및 시각적 공간을 구현하는 '아르떼나잇'과 워크숍을 기반으로 비디오 아트를 제작하는 신현지의 '채집망 프로젝트' 간의 공동 창작으로 주거지역의 특성을 살려 중랑구 주민들을 대상으로 일상 속 낭만에 대해 질문하며 공공미술을 구현한다”고 설명한다. <br/><br/>
            그 어느 시대보다 풍요롭고 자유로웠던 20세기 말과 21세기 초의 이면에는 개인과 집단 모두  신자본주의의 무한 경쟁이 존재한다. 사람들은 누구나 할 것 없이 고용과 노동의 불안에서 벗어나지 못하고 극한 경쟁 환경에서 내몰리며 모두 다 피로하다. 뿐만 아니라 갑자기 닥친 코로나19는 해결될 기미가 안 보이며 새로운 바이러스로 계속 변이되어 전 세계를 공포로 몰아간다. 게다가 지구촌 곳곳은 이상기후와 환경재앙이 목격되며 위기에 직면하고 있어 더욱 우리를 최악의 상황으로 밀어붙이고 있는 실정이다.<br/><br/>
            미학적으로 ‘낭만’은 신성에 가까운 절대적인 내면성을 의미한다. 이 내면성을 위해서는 시간을 들여서 자신의 정신에 집중하는 훈련의 과정이 필요하다. 그러나 디지털 정보가 무한대로 파고드는 정보 과잉의 현실과 신자본주의 환경에서 ‘낭만’은 우리에게 동떨어진 과거의 감성처럼 느껴진다. 우리는 자유와 주관에 의한 고도의 훈련이라는 과정을 갖기에는 시간이 너무 없다. 하지만 인간인지라 갖고 있는 본성인 정체성을 잃어버리지 않기 위해서 마음속 깊이 담겨 있는 감정의 장점을 꺼내놓거나 붙들고 싶어 한다. 그중 예술가들은 고통, 사랑, 죽음 등 진부하지만 무한히 저편에 있는 내면성에서의 다양한 표현을 작품으로 표출하며 인간 본성을 일깨우고 잃어버리지 않게 하는 자들이다. <br/><br/>
            이번 <아x채 콜라보>의 공공 미술의 실천 장소는 7호선 사가정 지하철역사에서 밖으로 나가는 출입구 부분이다. 이 역사를 자주 이용하는 사람은 중랑구에 살거나 이 지역에 볼일이 있어서 일 것이다. 대부분 지하철 역사는 큰 도로에 위치한 새로 건축된 곳이 대부분이지만 사가정역사는 작은 건물들의 상가와 조그만 광장으로 둘러싸인 전형적인 주거 지역의 성격을 띤다. 사가정은 이 역 주변 용마산 부근에 조선 시대 세종 말엽에서 성종 때까지 활동한 문신 서거정 선생이 거처했다는 역사성에서 붙여진 이름이다. <br/><br/>
            황혜준과 함께 프로젝트를 기획한 <아X채 콜라보>의 신현지 작가는 전통을 토대로 주거지역의 특성을 살려 중랑구 주민들을 대상으로 시쓰기, 안무워크숍을 9주 동안 진행하였다. 사가정역 일대의 문화원, 청소년센터, 주민센터, 사적인 여가 문화 공간(주짓수 학원, 댄스 스포츠 교실, 색소폰동호회, 당구장 사가정 탁구모임 등)을 방문하고 프로젝트에 대해 홍보하며 참여자 90여 명을 모집하였다. 워크숍 장소도 사가정 인근의 카페 3곳과 주짓수 학원, 댄스 학원, 클라우스 복싱클럽, 사가정 색소폰 동호회 등 사가정역 인근 주민들이 이용하는 공간들과 지역 상인들과 함께 협업해 지역 상인들의 상생을 적극적으로 실천하였다. 지역과 장소를 기반으로 예술가들과 함께한 두 달간의 워크숍에서 참여자들은 ‘낭만’에 대해 개별적이고 다양한 시와 몸짓을 탄생시키며 일상의 삶과 경계 없는 예술을 생산하는 미적 경험을 가졌다. <여기에 가면 낭만이 있다!>,<당신에게 낭만이란 무엇인가요?>, <낭만을 함께 즐기는 사람들>이라는 3가지 주제 안에서 시를 짓고 그림을 그리면서 일상과 여가를 돌아보았다. <br/><br/>
            여러 참여자들이 함께한 워크숍 과정 안에서의 결과물은 충만하고 만족스러운 상태가 되었고  ‘낭만’은 ‘행복’으로 전이 되었다. 그리고 최종적으로 황혜준의 <사가정 랩소디 1>, <사가정 랩소디 2>에서는 ‘낭만’이 색채, 형태, 언어가 되어 시각적 작품으로 표현되었다. 황혜준은 마치 오케스트라의 지휘자처럼 작가, 공간, 장소, 주민, 설치자, 행정가들을 조율하며 행복의 랩소디를 연주해 내었다. 지하철 역사의 낡은 캐노피 유리의 색은 주변 상가 간판에서 공통적으로 보이는 색채를 파스텔조로 변환하여 주변과 최대한 조화를 이룬다. 작가는 최대한 추상적이며 실체가 드러나지 않은 행복이라는 색감을 따뜻하고 부드러운 파스텔톤의 색감을 사용하여 꿈과 행복의 상징처럼 구현하였다.<br/><br/>
            1번 출구 계단 사이에는 중장년층, 2번 출구는 청년층들의 <낭만을 즐기는 방법 워크숍>에서 자필로 쓰인 싯구의 일부를 발췌해 부착하였고, 특히 1번 출구는 에스컬레이터에서 올라오면서도 볼 수 있으며 마지막으로 유리 천정과 벽면 캐노피의 파스텔 색조와 음표와 악기의 상징이 선명하게 그려진 필름의 경쾌한 리듬과 함께 총체적인 감각을 느끼며 외부로 향할 수 있다. 2번 출구는 1번 출구의 그림과 연계되면서 꽃과 태양 등 자연의 기호를 단순하고 빠른 윤곽선으로 그린 마조리카 기법의 타일 벽화를 설치해 경쾌하고 감각적인 즐거움을 선사한다. <br/><br/>
            공공 미술의 실현과 함께 작가의 정체성인 예술적 가치를 위해 2 곳의 갤러리에서 전시를 개최하였다. 제1전시는 사가정역이 위치한 중랑구의 중랑아트센터에서 워크숍에 참여한 구민들의 시화와 비디오, 설치 작품을 만나볼 수 있는 아카이브 기록형 전시를 통해 공공미술의 프로젝트 과정 전반을 이해하며 공감대를 형성할 수 있도록 했다. 이곳에서는 벽화작업과 캐노피에 들어갈 그림을 긴 직사각의 평면의 광고판처럼 어긋나게 연출하여 더욱 예술성을 입혔다. 황혜준은 워크숍 참여자들의 이미지를 선택하여 몇 개의 시안을 만들고, 이를 사가정역 1,2번 출구 내 설치하여 역사를 오고가는 이용자와 주민들이 선호하는 방식으로 전형적인 커뮤니티 아트의 참여방식을 적극적으로 활용하였다. 전시의 결과물은 황혜준의 단순하고 빠른 감각적 표현이 개입되면서 행복하고 낭만적인 경쾌한 특성을 지닌 예술 작품으로의 미적 결과를 보여준다.<br/><br/>
            그는 지정된 장소의 의미를 벗어나 제2 전시를 다시 기획하는데 성북동의 갤러리17717을 선택해 사가정의 낭만을 새롭게 해석하여 소통의 확장과 파급을 시도한다. 이 전시에서 사가정 커뮤니티를 상징하는 광고판 형태의 평면 이미지는 신현지 작가의 비디오 아트 영상과 조화를 이루며 당구공, 복싱글러브, 해바라기, 카페프레스 등 커뮤니티가 즐기고있는 낭만적 오브제를 사실적으로 보여줌과 함께 모빌처럼 매달아 놓는 작품으로 커뮤니티의 ‘낭만’을 재해석한다. 이 전시를 통해 황혜준은 공공 미술과 작가 자신만의 고유한 영역이 함께 조화를 이루어 새로운 창의적 예술영역으로 자리매김하고 있었다.<br/><br/>
            황혜준은 작가 특유의 직관이 개입된 경쾌하고 빠른 감각적 예술성으로 많은 장소, 영역, 사람들의 협업을 성공적으로 이끌며 수준 높은 공공미술의 결과를 만들어 냈다. 바쁜 일상을 상징하는 지하철 역사를 나오는 순간 낭만이라는 내면을 들여다보며 대화가 가능한 환상적 공간으로 전환시키는 낭만과 행복의 <사가정 랩소디1,2> 연주를 훌륭하게 연출하였기에 앞으로의 그의 새로운 예술에 대해 더욱 기대하게 된다.<br/>
            </p>
            <div class="fog"></div>
            <button id="article_btn">View More</button>
        </div>
    </section>
    <!-- article -->
</main>
<!-- main -->
<footer>
    <section class="footer_top">
        <div class="footer_top_left">
            <img src="/img/footer_logo01.png" alt="">
            <h1>BUSINESS EMAIL</h1>
            <h2>achecollabo@naver.com</h2>
        </div>
        <div class="footer_top_right">
            <div class="footer_top_right_box">
                <h1>DIRECTOR</h1>
                <h2>Hwang Hye-jun<br>Shin Hyunji</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>TEL</h1>
                <h2>010-3349-3580<br>010-3677-3436</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>E-MAIL</h1>
                <h2>heyjunhwang@gmail.com<br>chezipmang@gmail.com</h2>
            </div>
        </div>
    </section>
    <section class="footer_bottom">
        <div class="footer_bottom_left">
            <h3>100, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea</h3>
            <h4>COPYRIGHT © ACHECOLLABO.INC.ALL RIGHTS RESERVED</h4>
        </div>
        <div class="footer_bottom_right">
            <img src="/img/footer_logo02.png" alt="">
        </div>
    </section>
</footer>
<!-- footer -->
<script src="/js/top_nav.js"></script>
<script src="/js/install.js"></script>
</body>
</html>