<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/video.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a5ace50b2e.js" crossorigin="anonymous"></script>
    <title>낭만역사 사가정</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/gnb_logo02.png" alt="">
        <img src="/img/gnb_logo01.png" onclick="location.href='/'" alt="">
        <i class="fas fa-bars nav_toggle_btn"></i>
    </div>
    <ul class="nav">
        <div>
            <li class="nav_li"><a href="/cate01/video">작품</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate02/intro">소개</a></li>
        </div>
        <div>
            <li class="nav_li"><a href="/cate03/workshop">아카이브</a></li>
        </div>
    </ul>
    <ul class="sub_nav">
        <li>
            <ul>
                <li class="mobile nav_category">작품</li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/video">비디오 아트</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/install">설치 미술</a></li>
                <li class="sub_nav_li sub_nav1"><a href="/cate01/3d">3D</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">소개</li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/intro">프로젝트 개요</a></li>
                <li class="sub_nav_li sub_nav2"><a href="/cate02/cooperation">프로젝트 협력</a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="mobile nav_category">아카이브</li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/workshop">낭만을 즐기는 방법 워크숍</a></li>
                <li class="sub_nav_li sub_nav3"><a href="/cate03/history">활동기록</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- header -->
<main>
    <section class="top">
        <h1>비디오 아트</h1>
        <h2>VIDEO ART</h2>
    </section>
    <!-- top -->

    <section class="video" id="video1">
        <div class="video_top">
            <div class="blank" id="blank1">
                <div class="border border_long"></div>
                <img src="/img/circle.png" alt="">
                <div class="border border_short"></div>
            </div>
            <div class="video_title">
                <h1>장년층 비디오 아트 제목</h1>
                <h2>장년층 비디오 아트에 대한 간단한 소개글.</h2>
            </div>
        </div>
        <img class="video_img" src="/img/sec01_img01.jpg" alt="">
    </section>
    <!-- video1 -->

    <section class="video" id="video2">
        <div class="video_top">
            <div class="blank" id="blank2">
                <div class="border border_long"></div>
                <img src="/img/circle.png" alt="">
                <div class="border border_short" style="height: 100px;"></div>
            </div>
            <div class="video_title">
                <h1>장년층 비디오 아트 제목</h1>
                <h2>장년층 비디오 아트에 대한 간단한 소개글.</h2>
            </div>
        </div>
        <img class="video_img" src="/img/sec02_img02.jpg" alt="">
    </section>
    <!-- video2 -->
    <section class="credit">
        <div class="blank" id="credit_blank">
            <div id="credit_border_short" class="border"></div>
            <img id="credit_img" src="/img/circle_line.png" alt="">
            <div id="credit_border_long" class="border"></div>
        </div>
        <div class="credit_box">
            <h1>Credit</h1>
            <div class="credit_list">
                <p><span>공동 기획</span>&ensp;&ensp;아채콜라보</p>
                <p><span>감독</span>&ensp;&ensp;신현지</p>
                <p><span>촬영감독</span>&ensp;&ensp;정길우, 박태영, 조영주, 심원보</p>
                <p><span>촬영보조</span>&ensp;&ensp;홍민혁</p>
                <p><span>조연출</span>&ensp;&ensp;김규년, 전수현</p>
                <p><span>현장 사운드 감독</span>&ensp;&ensp;윤관희</p>
                <p><span>후반 사운드 믹싱</span>&ensp;&ensp;김활빈</p>
                <p><span>콘티 작가</span>&ensp;&ensp;옥세영</p>
                <p><span>사운드 아트</span>&ensp;&ensp;이진화, 이주연</p>
                <p class="pc credit_parties"><span>참여주민</span>&ensp;&ensp;오경선, 이재섭, 김미란, 전신미, 조영미, 박소영, 최정연, 김종술, 장용기, 최효균,<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;박창수, 박수영, 이선향, 선영상, 이재영, 이다정, 박현민, 김예영, 정지명, 최지민, <br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;김아리, 윤빛나라, 박은희, 권유미, 김윤지, 소태욱, 정학재, 유창룡, 용동중, 김하린,<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;김경태, 김무늬, 윤희라, 황신영, 홍성윤, 이나래, 유애린, 유인선, 박서현, 함소연,<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;이상임, 신영희, 방정미, 이수정, 정석순, 정선옥, 김상윤, 신현숙, 최광희, 박윤자,<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;장영순, 차점순, 안은진, 이미애, 김민경, 신미순, 권옥분, 강현자, 김순희, 김영숙,<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;김정숙, 김정희, 문명보, 박영순, 박희선, 서윤권, 신종숙, 심재안, 양서윤, 유효숙, <br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;이순례, 임옥희, 정윤자, 김경자, 고은정, 고은혜, 최경정, 변주혁, 김상우, 박근서, <br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;김은지, 김화, 이기복, 권다정, 신상현, 전빈관, 인치우, 이상열, 황우진, 오대성, <br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;김철진, 한정희, 박기훈, 현명녀, 김태웅, 김광섭, 최선임
                </p>
                <p class="mobile credit_parties" id="parties_mobile"><span>참여주민</span><br>오경선, 이재섭, 김미란, 전신미, 조영미,<br> 박소영, 최정연, 김종술, 장용기, 최효균,
                    박창수,<br> 박수영, 이선향, 선영상, 이재영, 이다정, 박현민,<br> 김예영, 정지명, 최지민,
                    김아리, 윤빛나라, 박은희,<br> 권유미, 김윤지, 소태욱, 정학재, 유창룡, 용동중,<br> 김하린
                    김경태, 김무늬, 윤희라, 황신영, 홍성윤,<br> 이나래, 유애린, 유인선, 박서현, 함소연
                    이상임,<br> 신영희, 방정미, 이수정, 정석순, 정선옥, 김상윤,<br> 신현숙, 최광희, 박윤자
                    장영순, 차점순, 안은진,<br> 이미애, 김민경, 신미순, 권옥분, 강현자, 김순희,<br> 김영숙
                    김정숙, 김정희, 문명보, 박영순, 박희선,<br> 서윤권, 신종숙, 심재안, 양서윤, 유효숙,
                    이순례,<br> 임옥희, 정윤자, 김경자, 고은정, 고은혜, 최경정,<br> 변주혁, 김상우, 박근서,
                    김은지, 김화, 이기복,<br> 권다정, 신상현, 전빈관, 인치우, 이상열, 황우진,<br> 오대성,
                    김철진, 한정희, 박기훈, 현명녀, 김태웅,<br> 김광섭, 최선임
                </p>
            </div>
        </div>
    </section>
    <!-- credit -->
    <section class="article">
        <div class="article_wrapper">
            <img src="/img/sec03_icon01.png" alt="">
            <h1>문화 담론의 과거, 현재, 미래를 한 권에 꿰뚫는다</h1>
            <span>이승민 선생님</span>
            <p id="article_shown">대중문화, 문화산업, 포스트모던 문화비평, 다문화주의... 거창한 개념들을 예로 들지 않더라도
                현대사회에서 '문화'는 인간 삶과 분리할 수 없을 정도로 중요한 의미를 차지한다.
                인간은 누구나 저마다 속한 공동체의 문화적 영향 아래 살며, 누구나 문화의 혜택을 누리고자 하고, 이제 문화는
                부흥시켜야 할 산업이 되기에 이르렀다.텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트
            </p>
            <p id="article_hidden">대중문화, 문화산업, 포스트모던 문화비평, 다문화주의... 거창한 개념들을 예로 들지 않더라도
                현대사회에서 '문화'는 인간 삶과 분리할 수 없을 정도로 중요한 의미를 차지한다.
                인간은 누구나 저마다 속한 공동체의 문화적 영향 아래 살며, 누구나 문화의 혜택을 누리고자 하고, 이제 문화는
                부흥시켜야 할 산업이 되기에 이르렀다.텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
            </p>
            <div class="fog"></div>
            <button id="article_btn">View More</button>
        </div>
    </section>
    <!-- article -->
</main>
<!-- main -->
<footer>
    <section class="footer_top">
        <div class="footer_top_left">
            <img src="/img/footer_logo01.png" alt="">
            <h1>BUSINESS EMAIL</h1>
            <h2>achecollabo@naver.com</h2>
        </div>
        <div class="footer_top_right">
            <div class="footer_top_right_box">
                <h1>DIRECTOR</h1>
                <h2>Hwang Hye-jun<br>Shin Hyunji</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>TEL</h1>
                <h2>010-3349-3580<br>010-3677-3436</h2>
            </div>
            <div class="footer_top_right_box">
                <h1>E-MAIL</h1>
                <h2>heyjunhwang@gmail.com<br>chezipmang@gmail.com</h2>
            </div>
        </div>
    </section>
    <section class="footer_bottom">
        <div class="footer_bottom_left">
            <h3>100, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea</h3>
            <h4>COPYRIGHT © ACHECOLLABO.INC.ALL RIGHTS RESERVED</h4>
        </div>
        <div class="footer_bottom_right">
            <img src="/img/footer_logo02.png" alt="">
        </div>
    </section>
</footer>
<!-- footer -->
<script src="/js/top_nav.js"></script>
<script src="/js/video.js"></script>
</body>
</html>