
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes border_long {
    0% {
        height: 0;
    }
    100% {
        height: 320px;
    }
}
@keyframes border_short {
    0% {
        height: 0;
    }
    100% {
        height: 250px;
    }
}
@keyframes border_last {
    0% {
        height: 0;
    }
    100% {
        height: 730px;
    }
}
.shown {
    animation: show 1s forwards;
}
.border_s_down {
    animation: border_short 1s forwards;
    position: absolute;
    top: 360px;
}
.border_l_down {
    animation: border_long 1s forwards;
}
.last_border {
    animation: border_last 1s forwards;
}

main {
    overflow: hidden;
}
.top {
    width: 100%;
    padding: 150px 0 184px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.top h1 {
    font-size: 60px;
    font-family: 'Nanum_black';
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
}
.top h2 {
    font-size: 25px;
    font-family: 'San_medium';
}

.week {
    position: relative;
    width: 90%;
    height: 700px;
    margin-left: 5vw;
}
#week3 {
    margin-bottom: 400px;
}
.week > img {
    position: absolute;
    width: 45vw;
    top: 350px;
}
.card {
    cursor: pointer;
    opacity: 0;
}
.card1 {
    left: 0;
    z-index: 5;
}
.card2 {
    left: 18vw;
    z-index: 4;
}
.card3 {
    left: 36vw;
    z-index: 3;
}
.week > .card_btn_box {
    left: 82vw;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 7vw;
    align-items: center;
    top: calc(350px + 10vw);
}
.card_btn_box .card_btn {
    width: 3vw;
    margin-bottom: 15px;
}
.card_btn_box > p {
    font-size: 20px;
    font-family: 'Nanum_bold';
    color: #5a5a5a;
}
.blank {
    display: flex;
    opacity: 0;
    flex-direction: column;
    width: 100px;
    align-items: center;
    position: absolute;
}
.border {
    width: 20px;
    height: 0;
    border-left: 1px solid black;
    transform: translateX(15px);
    margin: 10px 0;
}
#last_border {
    margin-top: 30px;
    position: absolute;
    top: 340px;
}
.blank_box {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 340px;
    width: 180px;
    left: 45px;
    justify-content: space-between;
}
.blank_box > h1 {
    font-size: 18px;
    font-weight: bolder;
}
.blank_box > p {
    font-size: 15px;
    color: gray;
    opacity: 0.8;
}

.interview {
    width: 100%;
    height: 80vh;
    z-index: 10;
}
.interview #vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 여기부터 pop */
.pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 5;
}
.pop > h1 {
    margin: 130px 0 15px 0;
    font-size: 35px;
    font-weight: bold;
}
.pop > h2 {
    font-size: 20px;
    margin-bottom: 95px;
}
.pop.hide {
    display: none;
}
.pop .pop_close {
    position: absolute;
    top: 5%;
    width: 30px;
    right: 10%;
    cursor: pointer;
}
.pop .pop_main {
    position: absolute;
    top: 230px;
    display: block;
    margin: auto;
    width: 60vw;
    height: 60vh;
    object-fit: contain;
}
.pop .img_nav {
    width: 20px;
    height: 35px;
    position: absolute;
    top:calc(230px + 30vh);
    cursor: pointer;
}
.pop .pop_prev {
    left: 10vw;
}
.pop .pop_next {
    right: 10vw;
}
.top.mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    @keyframes border_long {
        0% {
            height: 0;
        }
        100% {
            height: 120px;
        }
    }
    @keyframes border_short {
        0% {
            height: 0;
        }
        100% {
            height: 80px;
        }
    }
    @keyframes border_last {
        0% {
            height: 0;
        }
        100% {
            height: 550px;
        }
    }
    .border_s_down {
        top: 160px;
    }

    .top {
        padding: 50px 0;
    }
    .top h1 {
        font-size: 35px;
    }
    .top h2 {
        font-size: 15px;
    }
    .blank {
        width: 10vw;
    }
    .blank_box {
        left: calc(5vw - 5px);
        top: 140px;
    }

    .blank_box > img {
        width: 10px;
        margin-left: 5px;
    }

    .week {
        height: 300px;
    }
    .week > img {
        width: 65vw;
        top: 180px;
    }
    .card2 {
        left: 25vw;
    }
    .card3 {
        left: 50vw;
    }
    #last_border {
        top: 140px;
    }
    .week > .card_btn_box {
        left: 60vw;
        flex-direction: row;
        width: 23vw;
        top: calc(350px);
        justify-content: space-between;
        height: 50px;
        z-index: 5;
    }
    .card_btn_box .card_btn {
        width: 5vw;
        margin-bottom: 0;
        opacity: 0;
    }
    .card_btn_box > p {
        font-size: 15px;
        border-bottom: 1.5px solid #5a5a5a;
        padding-bottom: 5px;
    }
    .pop > h1 {
        margin: 100px 0 15px 0;
        font-size: 25px;
    }
    .pop .pop_close {
        width: 20px;
    }
    .pop .pop_main {
        top: 20vh;
        width: 80vw;
        height: 60vh;
    }
    .pop .img_nav {
        width: 10px;
        height: 15px;
        top: 50vh;
    }
    .pop .pop_prev {
        left: 5vw;
    }
    .pop .pop_next {
        right: 5vw;
    }
    .top.mobile {
        display: flex;
    }
    .top.pc {
        display: none;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
    .pop > h1 {
        margin: 20px 0 15px 0;
    }
}